*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: 'Montserrat',sans-serif;
}
#product-overview{
    background-image: url("Freedom.jpg");
   background-repeat:no-repeat;
   background-size: cover;
    width:100%;
    height: 528px;
    padding: 10px;
    

}
.section_title{
    color:#2ddf5c;
    text-align: center;

    }

#product-overview h1{
    color:white;
    font-family: 'Anton',sans-serif;
}
.pan__list{
    width:80%;
    margin:auto;
    text-align: center;
}
.plan{
    background: #d5ffdc;
    text-align:  center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width:30%;
    vertical-align: middle;
}
.plan--highlighted{
    background-color: #19b84c;
    color:white;
    box-shadow:2px 2px 2px 2px rgba(0,0,0,0.5);
}
.plan--highlighted .plan__price{
    color:#0e4f1f
}
.plan--highlighted .plan__title{
    color:#0e4f1f

}
.plan__nnotation{
background-color: white;
color:#16b84c;
box-shadow:2px 2px 2px 2px rgba(0,0,0,1);
padding:8px ;
border-radius: 8px;
}
.plan__title{
  color:blue;

}
.plan__price{
color:gray;
}

.plan__features{
    list-style: none;
    margin: 0;
    padding: 0;
}
.plan__feature{
    margin: 8px 0;
}

#key-features{
    background-color:#ff1b68;
    text-align: center;
    margin:10px;
    padding:80px;
}
#key-features .section_title{
    color:white;
    margin:32px;
}
.key-feature__list {
   list-style: none;
   margin:0;
   padding:0;
   text-align: center;
}
.key__feature{
   display:inline-block;
   width:30%;
   vertical-align: top;
}

.key-feature__image{
    background: pink;
    width:128px;
    height:128px;
    border:2px solid #424242;
    border-radius: 50%;
    margin:auto;
}
.key-feature__description{
    text-align: center;
    font-weight: bold;
    color:white;
    font-size: 20px;
}
