*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: 'Montserrat',sans-serif;
}
#product-overview{
    background-image: url("Freedom.jpg");
   background-repeat:no-repeat;
   background-size: cover;
    width:100%;
    height: 528px;
    padding: 10px;
    

}
#section-title{
    color:#2ddf5c
    }
#product-overview h1{
    color:white;
    font-family: 'Anton',sans-serif;
}

.main-header{
background-color: #25995f;
width: 100%;
padding: 8px 18px;
    }
.main-header >div
{
    display: inline-block;
    vertical-align: middle;
}
.main-nav
{
    display: inline-block;
    text-align: right;
    width:calc(100%-74px);
    vertical-align: middle;

}
.main_nav__items{

    padding: 0 100px;
   list-style: none;
   width: 100%;

 }
    .main_nav__item{
        display: inline-block;
        text-decoration: none;
        margin: 0 16px;
        text-align: right;

        /* margin :top  button left  right*/
    }

    .main-header__brand a{
        color:black;
        text-decoration: none;
        font-size:30px;
        font-weight: bold;}

.main_nav__item a{
    text-decoration: none;
    color:black;
    padding: 5px 0;
    font-size: 20px;
}
.main_nav__item a:hover,.main_nav__item a:active{
color: white;
border-bottom: 2px solid white;
}
.main_nav__item-cta a{
    color:white;
    background:red ;
    border-radius: 8px;
    padding:8px 16px;
}

.main_nav__item-cta a:hover,
.main_nav__item-cta a:active{
    color:red;
    background:white ;
border:none;}

